body {
  margin: 0;
  background-color: #f1eedb;
}

.page-container {
  padding-top: 1px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Cinzel";
  font-weight: 500;
}

p, button, input, a, textarea {
  font-family: "Raleway", sans-serif;
}

button {
  background-color: white;
  border: none;
  border-radius: 5px;
  height: 40px;
  padding: 0 15px;
  font-weight: 600;
  -webkit-box-shadow: 0 0 0.2rem 0.05rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 0.2rem 0.05rem rgba(0, 0, 0, 0.2);
  color: #35382d;
  cursor: pointer;
}

button:hover, .view-project:hover {
  background-color: #264229;
  color: white;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

button:active {
  -webkit-box-shadow: 0 0 0.4rem 0.1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 0.4rem 0.1rem rgba(0, 0, 0, 0.2);
}

input, textarea {
  font-weight: 500;
}

.logo {
  font-size: 27px;
  font-family: "Cinzel";
  font-weight: 800;
  text-decoration: none;
  color: #35382d;
}

.logo:hover {
  color: #264229;
  text-decoration: line-through;
}

.mobile-pop-up-menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 10px;
  top: 80px;
  z-index: 2;
  background-color: #264229;
  padding: 30px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.mobile-pop-up-menu .box-arrow {
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #264229;
  position: absolute;
  top: -10px;
  right: 16.5px;
  border-radius: 5px 0 0 0;
}

.mobile-pop-up-menu .link-list-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-pop-up-menu .link-list-mobile a {
  width: 180px;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 2px solid #f1eedb;
  background-color: #f1eedb;
  color: #35382d;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
}

.mobile-pop-up-menu .link-list-mobile a:hover {
  background-color: #264229;
  color: #f1eedb;
  border: 2px solid #f1eedb;
  cursor: pointer;
}

.mobile-pop-up-menu .link-list-mobile a:active {
  border: 2px solid #264229;
}

.mobile-pop-up-menu .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 8px;
  margin: 0;
}

.mobile-pop-up-menu .socials i {
  color: #f1eedb;
  cursor: pointer;
}

.mobile-pop-up-menu .socials i:hover {
  background-color: #f1eedb;
  color: #264229;
}

@-webkit-keyframes pop-up-menu {
  0% {
    -webkit-transform: translate3d(99px, -190px, 0) scale(9%, 3%);
            transform: translate3d(99px, -190px, 0) scale(9%, 3%);
    z-index: 1;
  }
  40% {
    -webkit-transform: translate3d(99px, -150px, 0) scale(9%, 7%);
            transform: translate3d(99px, -150px, 0) scale(9%, 7%);
    z-index: 1;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) scale(100%);
            transform: translate3d(0, 0, 0) scale(100%);
    z-index: 2;
  }
}

@keyframes pop-up-menu {
  0% {
    -webkit-transform: translate3d(99px, -190px, 0) scale(9%, 3%);
            transform: translate3d(99px, -190px, 0) scale(9%, 3%);
    z-index: 1;
  }
  40% {
    -webkit-transform: translate3d(99px, -150px, 0) scale(9%, 7%);
            transform: translate3d(99px, -150px, 0) scale(9%, 7%);
    z-index: 1;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) scale(100%);
            transform: translate3d(0, 0, 0) scale(100%);
    z-index: 2;
  }
}
@-webkit-keyframes pop-down-menu {
  0% {
    -webkit-transform: translate3d(0, 0, 0) scale(100%);
            transform: translate3d(0, 0, 0) scale(100%);
    z-index: 2;
  }
  60% {
    -webkit-transform: translate3d(99px, -150px, 0) scale(9%, 7%);
            transform: translate3d(99px, -150px, 0) scale(9%, 7%);
    z-index: 1;
  }
  100% {
    -webkit-transform: translate3d(99px, -190px, 0) scale(9%, 3%);
            transform: translate3d(99px, -190px, 0) scale(9%, 3%);
    z-index: 1;
  }
}
@keyframes pop-down-menu {
  0% {
    -webkit-transform: translate3d(0, 0, 0) scale(100%);
            transform: translate3d(0, 0, 0) scale(100%);
    z-index: 2;
  }
  60% {
    -webkit-transform: translate3d(99px, -150px, 0) scale(9%, 7%);
            transform: translate3d(99px, -150px, 0) scale(9%, 7%);
    z-index: 1;
  }
  100% {
    -webkit-transform: translate3d(99px, -190px, 0) scale(9%, 3%);
            transform: translate3d(99px, -190px, 0) scale(9%, 3%);
    z-index: 1;
  }
}
.mobile-header {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 20px 0;
}

.mobile-header .logo {
  margin-left: 22px;
}

.mobile-burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 20px;
  padding: 5px;
  border-radius: 3px;
  margin-right: 22px;
  cursor: pointer;
  z-index: 2;
}

.mobile-burger:hover {
  background-color: #264229;
}

.mobile-burger:hover .b-line {
  background-color: #f1eedb;
}

.b-line {
  background-color: #35382d;
  width: 24px;
  height: 4px;
  border-radius: 2px;
}

@media (min-width: 992px) {
  .mobile-header {
    display: none;
  }
}
.desktop-header {
  background-color: #f1eedb;
  display: none;
  height: 100%;
  width: 140px;
  position: fixed;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid #35382d;
  font-family: "Cinzel";
  font-weight: 500;
  color: #35382d;
}

.desktop-header .logo {
  padding: 38px 0;
  font-size: 50px;
}

.header-line {
  width: 100%;
  border-bottom: 1px solid #35382d;
  margin-bottom: auto;
}

.link-list-desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.link-list-desktop a {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #f1eedb;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 136px;
  font-size: 15px;
  margin: 10px 0;
  padding: 10px 0;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  color: #35382d;
}

.link-list-desktop a:hover {
  background-color: #264229;
  color: #f1eedb;
}

.link-list-desktop a:active {
  border: 1px solid #264229;
}

.link-list-desktop a:focus {
  text-decoration: underline;
}

.socials {
  margin-top: auto;
  margin-bottom: 25px;
}

.socials i {
  margin: 5px 2px;
  padding: 7px 5px 6px 5px;
  border-radius: 5px;
  color: #35382d;
}

.socials i:hover {
  color: #f1eedb;
  background-color: #264229;
}

.socials .fa-linkedin-in {
  padding-top: 8px;
}

.socials .fa-tree {
  padding: 7px 8px 6px 8px;
}

@media (min-width: 992px) {
  .desktop-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .page-container {
    margin-left: 140px;
  }
}
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.back-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 15vw;
  color: #35382d;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  padding: 0 15px;
}

.back-top:hover {
  background-color: #264229;
}

.back-top p,
.back-top i {
  margin: none;
  padding: none;
  position: relative;
  top: 4px;
}

.back-top i {
  top: 12px;
}

.back-top:hover p,
.back-top:hover i {
  color: #f1eedb;
}

.landing-screen {
  background-image: url(../img/old-DE-new.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #35382d;
}

.landing-screen .title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  padding: 10px 0;
}

.landing-screen .title-container h1 {
  font-size: 40px;
  font-weight: 500;
}

.landing-screen .title-container h4, .landing-screen .im-dev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 19px;
  font-weight: 500;
  font-family: "Cinzel";
}

.landing-screen .my-name-is {
  position: relative;
  top: 50px;
}

.landing-screen .scroll-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto 20px 20px 20px;
  color: #f1eedb;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  padding: 0 15px;
}

.landing-screen .scroll-down:hover {
  background-color: #f1eedb;
}

.landing-screen .scroll-down p,
.landing-screen .scroll-down i {
  margin: none;
  padding: none;
  position: relative;
  bottom: 4px;
}

.landing-screen .scroll-down i {
  bottom: 12px;
}

.landing-screen .scroll-down:hover p,
.landing-screen .scroll-down:hover i {
  color: #264229;
}

@media (min-width: 992px) {
  .landing-screen .title-container h1 {
    font-size: 50px;
  }

  .landing-screen .title-container {
    top: 8%;
    background-color: rgba(255, 255, 255, 0);
  }
}
.project-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #35382d;
  padding-bottom: 80px;
}

.project-section .project-container {
  position: relative;
  width: 100%;
  padding: 0;
  background-color: #35382d;
  border-radius: 5px;
  margin: 60px 20px 0 20px;
  color: #f1eedb;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-box-shadow: 0 0 0.4rem 0.1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 0.4rem 0.1rem rgba(0, 0, 0, 0.2);
}

.project-section img {
  position: relative;
  width: 100%;
  min-height: 50px;
  height: auto;
  border-radius: 3px 3px 0 0;
  -webkit-transition: -webkit-transform 0.15s;
  transition: -webkit-transform 0.15s;
  transition: transform 0.15s;
  transition: transform 0.15s, -webkit-transform 0.15s;
  cursor: pointer;
  z-index: 5;
}

.project-section .pro-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 8px 0 10px 0;
  width: 100%;
}

.project-section .pro-content h3 {
  font-size: 22px;
  font-weight: 500;
  margin: 0 0 0 10px;
}

.project-section .pro-content .view-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  white-space: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-size: 14px;
  background-color: #f1eedb;
  color: #35382d;
  border: 1px solid #f1eedb;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  padding: 5px 10px;
  font-weight: 600;
  margin-right: 10px;
}

.project-section .pro-content .view-project:hover {
  background-color: #264229;
  color: #f1eedb;
}

.project-section .pro-content .view-project:active {
  border: 1px solid white;
}

.project-section .view-pro-arrow {
  margin-left: 7px;
}

.project-section p {
  position: absolute;
  bottom: 36px;
  left: 10px;
  right: 10px;
  text-align: left;
  z-index: 1;
}

@media (max-width: 400px) {
  .project-section .project-container {
    margin-top: 105px;
  }

  .project-section .project-container img {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
  }

  .project-section .pro-content h3 {
    font-size: 18px;
  }
}
@media (min-width: 401px) and (max-width: 768px) {
  .project-section .project-container {
    margin-top: 105px;
  }

  .project-section .project-container img {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .project-section .project-container {
    width: 500px;
  }
}
@media (min-width: 769px) and (max-width: 991px) {
  .project-section .project-container {
    width: 325px;
    margin-top: 125px;
  }

  .project-line {
    margin-top: 7px;
  }

  .project-section .project-container img {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
  }
}
@media (min-width: 992px) {
  .project-section .project-container:hover img {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .project-section .project-container {
    width: 360px;
  }
}
@media (min-width: 1201px) {
  .project-section .project-container {
    width: 460px;
  }
}
.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #35382d;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  margin: 20px 0;
}

.get-in-touch-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #f1eedb;
  max-width: 90%;
}

.get-in-touch-section .git-info {
  margin: 20px 0;
}

.get-in-touch-section .git-info a,
.get-in-touch-section .git-info h3 {
  font-family: "Cinzel";
  font-size: 18px;
  font-weight: 500;
  margin: 25px 0 0 0;
  padding: 0 10px;
  color: #f1eedb;
  text-decoration: none;
}

.get-in-touch-section .git-info a:hover {
  text-decoration: underline;
}

.get-in-touch-section .git-info p {
  color: white;
  font-size: 15px;
  font-weight: 300;
  padding: 0 10px;
}

.get-in-touch-section .git-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px 0;
}

.get-in-touch-section .git-form input,
.get-in-touch-section .git-form textarea {
  margin-bottom: 10px;
  padding: 0 0 0 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 30px;
  border: 2px solid #35382d;
  border-radius: 5px;
}

.get-in-touch-section .names {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.get-in-touch-section .first-name {
  min-width: 50px;
  margin-right: 5px;
}

.get-in-touch-section .last-name {
  min-width: 50px;
  margin-left: 5px;
}

.get-in-touch-section .git-form textarea {
  height: 100px;
  padding: 5px 8px;
  font-size: 14px;
}

.get-in-touch-section .submit {
  margin: 20px 30px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #f1eedb;
  border: 1px solid white;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  z-index: 2;
}

.get-in-touch-section .submit:hover {
  background-color: #264229;
  border: 1px solid #f1eedb;
  color: #f1eedb;
}

.get-in-touch-section .submit:active {
  border: 1px solid #264229;
}

.contact-container .thank-you {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f1eedb;
  color: #35382d;
  border-radius: 5px;
  text-align: center;
  height: 150px;
  margin: 0 25px;
}

.contact-container .thank-you h2 {
  max-width: 90%;
}

@-webkit-keyframes thank-you-enter {
  0% {
    -webkit-transform: translate3d(0, 100px, 0) scaleY(20%) scaleX(80%);
            transform: translate3d(0, 100px, 0) scaleY(20%) scaleX(80%);
  }
  40% {
    -webkit-transform: translate3d(0, 70px, 0) scaleY(20%) scaleX(80%);
            transform: translate3d(0, 70px, 0) scaleY(20%) scaleX(80%);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) scaleY(100%) scaleX(100%);
            transform: translate3d(0, 0, 0) scaleY(100%) scaleX(100%);
  }
}

@keyframes thank-you-enter {
  0% {
    -webkit-transform: translate3d(0, 100px, 0) scaleY(20%) scaleX(80%);
            transform: translate3d(0, 100px, 0) scaleY(20%) scaleX(80%);
  }
  40% {
    -webkit-transform: translate3d(0, 70px, 0) scaleY(20%) scaleX(80%);
            transform: translate3d(0, 70px, 0) scaleY(20%) scaleX(80%);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) scaleY(100%) scaleX(100%);
            transform: translate3d(0, 0, 0) scaleY(100%) scaleX(100%);
  }
}
@media (max-width: 767px) {
  .get-in-touch-section {
    width: 450px;
  }
}
@media (min-width: 768px) {
  .get-in-touch-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 25px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 650px;
  }

  .get-in-touch-section .git-info {
    max-width: 500px;
    margin: 20px 30px 20px 10px;
    position: relative;
    bottom: 30px;
  }

  .get-in-touch-section .git-form {
    max-width: 400px;
    margin-right: 20px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .get-in-touch-section {
    width: 720px;
  }
}
@media (min-width: 1200px) {
  .get-in-touch-section {
    width: 920px;
  }
}
.coding-examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 20px 0 20px;
}

.coding-examples .example-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 40px 20px 0 20px;
  width: 100%;
  max-width: 800px;
  background-color: #35382d;
  color: #f1eedb;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 0.4rem 0.1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 0.4rem 0.1rem rgba(0, 0, 0, 0.2);
}

.example-container .main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.example-container h3 {
  margin: 20px 20px 0 20px;
  font-size: 28px;
}

.example-container p {
  margin: 20px;
  line-height: 20px;
}

.example-container br {
  margin-bottom: 7px;
}

.example-container .desktop-img {
  display: none;
  min-width: 500px;
  width: 500px;
  border-radius: 10px 0 0 10px;
  cursor: pointer;
}

.example-container .mobile-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  cursor: pointer;
}

.example-container .example-link-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 20px 20px 20px;
}

.example-container .example-link-section a {
  padding: 7px 12px;
  background-color: #f1eedb;
  color: #35382d;
  border-radius: 3px;
  border: 1px solid #f1eedb;
  text-decoration: none;
}

.example-container .example-link-section a:hover {
  background-color: #264229;
  color: #f1eedb;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

.example-container .example-link-section a:active {
  border: 1px solid white;
}

.example-container .example-link-section i {
  margin-left: 10px;
}

.example-container .example-link-section .example-site {
  margin-bottom: 10px;
}

.coding-examples .overlay {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  overflow-y: scroll;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  z-index: 100;
}

.coding-examples .overlay h4 {
  text-align: center;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: -10px;
}

.coding-examples .overlay img {
  width: 90%;
  border-radius: 5px;
  margin: 60px 0;
}

@media (min-width: 992px) {
  .coding-examples {
    padding-top: 0;
  }

  .example-container .desktop-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .example-container .mobile-img {
    display: none;
  }
}
@media (min-width: 1150px) {
  .coding-examples .example-container {
    max-width: 900px;
  }

  .example-container .desktop-img {
    min-width: 600px;
    width: 600px;
  }
}
@media (min-width: 1300px) {
  .coding-examples .example-container {
    max-width: 1100px;
  }

  .example-container .desktop-img {
    min-width: 750px;
    width: 750px;
  }
}
.about-me-main {
  margin: 50px 20px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-me-main .about-me-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 40px;
}

.about-me-main .about-me-content p {
  max-width: 100%;
  text-align: center;
  line-height: 20px;
}

.about-me-main h2 {
  margin-bottom: 5px;
}

.about-me-main .top-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.about-me-main .first-p {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-me-main .logo-m-1 {
  display: none;
  margin-bottom: 30px;
  position: relative;
  top: 20px;
  border-radius: 5px;
  min-width: 250px;
  height: 250px;
}

.about-me-main .logo-m-2 {
  width: 100%;
  max-width: 500px;
  min-width: 50px;
  min-height: 50px;
  margin-top: 20px;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .about-me-main .about-me-content {
    max-width: 900px;
  }

  .about-me-main .first-p p {
    text-align: left;
  }

  .about-me-main .logo-m-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .about-me-main .logo-m-2 {
    display: none;
  }

  .about-me-main .first-p {
    margin-right: 40px;
  }

  .about-me-main .about-me-content .last-p {
    max-width: 600px;
  }
}
.past-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 600px;
}

.past-images img {
  width: 48%;
  margin-top: 20px;
  -webkit-box-shadow: 0 0 0.4rem 0.1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 0.4rem 0.1rem rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

@media (min-width: 992px) {
  .past-images {
    max-width: 900px;
  }

  .past-images img {
    width: 32%;
  }
}
.scs-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scs-main .content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 20px;
}

.scs-main .section-1 {
  width: 100%;
  border-radius: 5px;
  padding: 20px 0 30px 0;
  background-color: #35382d;
  color: #f1eedb;
}

.scs-main .content-container p {
  line-height: 20px;
}

.scs-main .section-1 p, .scs-main .section-1 h2 {
  margin: 10px 0;
  width: 80%;
  max-width: 800px;
}

.scs-main .section-2, .scs-main .section-3 {
  margin: 0 20px;
  max-width: 90%;
}

.scs-main .section-2 p, .scs-main .section-3 p {
  width: 100%;
}

.scs-main .section-2 h2, .scs-main .section-3 h2 {
  margin: 30px 0 0 0;
}

.scs-main .treehouse-link {
  color: #f1eedb;
  background-color: #35382d;
  border: 1px solid #35382d;
  border-radius: 3px;
  text-decoration: none;
  padding: 10px 15px;
  font-weight: 500px;
}

.scs-main .treehouse-link:hover {
  background-color: #f1eedb;
  color: #35382d;
}

.scs-main img {
  width: 100%;
  min-width: 50px;
  min-height: 50px;
  max-width: 800px;
  margin: 30px 0 0 0;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .scs-main .section-1 p, .scs-main .section-1 h2 {
    width: 85%;
  }

  .scs-main .section-2, .scs-main .section-3 {
    max-width: 580px;
  }
}
@media (max-width: 991px) {
  .scs-main {
    margin-top: 80px;
  }
}
@media (min-width: 992px) {
  .scs-main {
    margin-top: 0;
  }
}