//--------------------------------------
//  Get in Touch Section
//--------------------------------------

.get-in-touch-section {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  background-color: $dark_gray;
  color: $primary_colour;
  padding: 40px 20px;
}

.get-in-touch-section .git-info {
  margin-bottom: 20px;
}

.get-in-touch-section .git-info h3 {
  font-size: 18px;
  font-weight: 500;
  margin: 25px 0 0 20px;
}

.get-in-touch-section .phone-num {
  position: relative;
  line-height: 0;
  top: 5px;
}

.get-in-touch-section .git-info p {
  color: white;
  font-size: 15px;
  font-weight: 300;
  padding: 0 30px;
}

.get-in-touch-section .git-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.get-in-touch-section .git-form input,
.get-in-touch-section .git-form textarea {
  margin-bottom: 10px;
  padding: 0 0 0 10px;
  flex-grow: 1;
  height: 30px;
  border: none;
  border-radius: 5px;
}

.get-in-touch-section .names {
  display: flex;
  flex-direction: row;
}

.get-in-touch-section .first-name {
  min-width: 50px;
  margin-right: 5px;
}

.get-in-touch-section .last-name {
  min-width: 50px;
  margin-left: 5px;
}

.get-in-touch-section .git-form textarea {
  height: 100px;
  padding: 5px 8px;
  font-size: 14px;
}

.get-in-touch-section .submit {
  margin: 20px 30px 20px 30px;
  flex-grow: 1;
  background-color: $primary_colour;
  border: 1px solid white;
    box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.get-in-touch-section .submit:hover {
  background-color: $secondary_colour;
  border: 1px solid $primary_colour;
  color: $primary_colour;
}

.get-in-touch-section .submit:active {
  border: 1px solid $secondary_colour;
}


//--------------------------------------
//  Media Queries
//--------------------------------------


@media (min-width:768px) {
  .get-in-touch-section {
    flex-direction: row;
    padding: 25px;
    justify-content: center;
  }

  .get-in-touch-section .git-info {
    max-width: 500px;
    margin-right: 30px;
  }

  .get-in-touch-section .git-form {
    max-width: 400px;
    margin-right: 20px;
  }
}
