//--------------------------------------
//  Get in Touch Section
//--------------------------------------
@use "utilities/variables";

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: variables.$dark_gray;
  transition: all 200ms ease-in-out;
}

.get-in-touch-section {
  display: flex;
  flex-direction: column;
  color: variables.$primary_colour;
  margin: 20px;
  max-width: 90%;
}

.get-in-touch-section .git-info {
  margin-bottom: 20px;
}

.get-in-touch-section .git-info h3 {
  font-size: 18px;
  font-weight: 500;
  margin: 25px 0 0 0;
}

.get-in-touch-section .phone-num {
  position: relative;
  line-height: 0;
  top: 5px;
}

.get-in-touch-section .git-info p {
  color: white;
  font-size: 15px;
  font-weight: 300;
  padding: 0 10px;
}

.get-in-touch-section .git-form {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.get-in-touch-section .git-form input,
.get-in-touch-section .git-form textarea {
  margin-bottom: 10px;
  padding: 0 0 0 10px;
  flex-grow: 1;
  height: 30px;
  border: 2px solid variables.$dark_gray;
  border-radius: 5px;
}

.get-in-touch-section .names {
  display: flex;
  flex-direction: row;
}

.get-in-touch-section .first-name {
  min-width: 50px;
  margin-right: 5px;
}

.get-in-touch-section .last-name {
  min-width: 50px;
  margin-left: 5px;
}

.get-in-touch-section .git-form textarea {
  height: 100px;
  padding: 5px 8px;
  font-size: 14px;
}

.get-in-touch-section .submit {
  margin: 20px 30px;
  flex-grow: 1;
  background-color: variables.$primary_colour;
  border: 1px solid white;
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.get-in-touch-section .submit:hover {
  background-color: variables.$secondary_colour;
  border: 1px solid variables.$primary_colour;
  color: variables.$primary_colour;
}

.get-in-touch-section .submit:active {
  border: 1px solid variables.$secondary_colour;
}

.get-in-touch-section .thank-you {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: variables.$primary_colour;
  color: variables.$dark_gray;
  border-radius: 5px;
  text-align: center;
  display: none;
  padding: 0 15px;
  margin-bottom: 20px;
  height: 150px;
}

// Keyframes
@keyframes form-exit {
  0%{
    transform: translate3d(0,0,0);
  }
  5%{
    transform: translate3d(-2vh,0,0);
  }
  100%{
    transform: translate3d(90vh,0,0);
  }
}

@keyframes thank-you-enter {
  0%{
    transform: translate3d(90vh,0,0);
  }
  95%{
    transform: translate3d(-3vh,0,0);
  }
  100%{
    transform: translate3d(0,0,0);
  }
}



// Media Queries
@media (max-width:767px) {
  .get-in-touch-section {
    width: 450px;
  }
}

@media (min-width:768px) {
  .get-in-touch-section {
    flex-direction: row;
    padding: 25px;
    justify-content: center;
    align-items: center;
    width: 650px;
  }

  .get-in-touch-section .git-info {
    max-width: 500px;
    margin-right: 30px;
  }

  .get-in-touch-section .git-form {
    max-width: 400px;
    margin-right: 20px;
  }
}

@media (min-width:992px)
and (max-width:1200px) {
  .get-in-touch-section {
    width: 720px;
  }
}

@media (min-width:1200px) {
  .get-in-touch-section {
    width: 920px;
  }
}
