//--------------------------------------
//  Landing Zone on Home Page
//--------------------------------------
@use "utilities/variables";

.landing-screen {
  background-image: url(../img/old-DE-new.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: variables.$dark_gray;
}

.landing-screen .title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  padding: 10px 0;
}

.landing-screen .title-container h1 {
  font-size: 40px;
  font-weight: 500;
}

.landing-screen .title-container h4, .landing-screen .im-dev {
  display: flex;
  font-size: 19px;
  font-weight: 500;
  font-family: 'Cinzel';
}

.landing-screen .my-name-is {
  position: relative;
  top: 50px;
}

.landing-screen .scroll-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 20px 20px 20px;
  color: variables.$primary_colour;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  padding: 0 15px;
}

.landing-screen .scroll-down:hover {
  background-color: variables.$primary_colour;
}

.landing-screen .scroll-down p,
.landing-screen .scroll-down i  {
  margin: none;
  padding: none;
  position: relative;
  bottom: 4px;
}

.landing-screen .scroll-down i {
  bottom: 12px;
}

.landing-screen .scroll-down:hover p,
.landing-screen .scroll-down:hover i  {
  color: variables.$secondary_colour;
}


//--------------------------------------
//  Media Queries
//--------------------------------------


@media (min-width:992px) {

  .landing-screen .title-container h1 {
    font-size: 50px;
  }

  .landing-screen .title-container {
    top: 8%;
    background-color: rgba(255,255,255, 0);
  }
}
