//--------------------------------------
//  Projects Section Home Page
//--------------------------------------
@use "utilities/variables";

.project-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  color: variables.$dark_gray;
  padding-bottom: 80px
}

.project-section .project-container {
  width: 100%;
  padding: 60px 20px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-section img {
  width: 100%;
  min-height: 50px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 0.4rem 0.1rem rgba(0,0,0,0.2);
  transition: transform 0.2s;
  cursor: pointer;
}

.project-section img:hover {
  transform: scale(1.05);
  transition-timing-function: cubic-bezier(.51,.92,.24,1.15);
}

.project-section .pro-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0 3px 0;
}

.project-section .pro-content h3 {
  font-size: 22px;
  font-weight: 500;
  padding: 0;
  position: relative;
  top: 3px;
  margin: 0 10px 0 5px;
}

.project-section .pro-content button {
  margin-right: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
}

.project-section a {
  text-decoration: none;
}

.project-section .view-pro-arrow {
  margin-left: 7px;
}

.project-section .project-line {
  margin-top: 7px;
  height: 1px;
  width: 100%;
  background: linear-gradient(to right, variables.$dark_gray_trans, variables.$dark_gray, variables.$dark_gray_trans);
}



//--------------------------------------
//  Media Queries
//--------------------------------------


@media (min-width:576px)
and (max-width:768px) {
  .project-section .project-container {
    width: 500px;
  }
}

@media (min-width:768px)
and (max-width:992px) {
  .project-section .project-container {
    width: 325px;
  }

  .project-line {
    margin-top: 7px;
  }
}

@media (min-width:992px)
and (max-width:1200px) {
  .project-section .project-container {
    width: 360px;
  }
}

@media (min-width:1200px) {

  .project-section .project-container {
    width: 460px;
  }
}
