//--------------------------------------
//  About-Me Page Main File
//--------------------------------------



.page-container {
  padding-top: 1px;
}

.scs-main {
  margin: 90px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0;
  width: 100%;
}

.section-1 {
  background-color: $dark-gray;
  color: white;
  border-radius: 5px;
  padding: 20px;
}

p {
  width: 100%;
}

h2 {
  text-overflow: ellipsis;
}

.section-1 h2 {
  margin: 0;
}

.section-2 h2, .section-3 h2 {
  margin: 30px 0 0 0;
}

img {
  width: 100%;
  min-width: 50px;
  max-width: 800px;
  margin-top: 30px;
  border-radius: 5px;
}



//--------------------------------------
//  Media Queries
//--------------------------------------


@media (min-width:768px) {

  .scs-main {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .section-1 {
    width: 100%;

  }

  .section-2, .section-3 {
    width: 40%;
    margin: 0px 10px;
  }
}

@media (min-width:992px) {

  .scs-main {
    margin-top: 50px;
  }
}
