//--------------------------------------
//  About-Me Page Main File
//--------------------------------------
@use "utilities/variables";


.scs-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scs-main .content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.scs-main .section-1 {
  width: 100%;
  border-radius: 5px;
  padding: 20px 0 30px 0;
  background-color: variables.$dark_gray;
  color: variables.$primary_colour;
}

.scs-main .section-1 p, .scs-main .section-1 h2 {
  margin: 10px 0;
  width: 80%;
  max-width: 800px;
}

.scs-main .section-2, .scs-main .section-3 {
margin: 0 20px;
}

.scs-main .section-2 p, .scs-main .section-3 p {
  width: 100%;
}

.scs-main .section-2 h2, .scs-main .section-3 h2 {
  margin: 30px 0 0 0;
}

.scs-main img {
  width: 100%;
  min-width: 50px;
  min-height: 50px;
  max-width: 800px;
  margin: 30px 0;
  border-radius: 5px;
}



//--------------------------------------
//  Media Queries
//--------------------------------------


@media (min-width:768px) {
  .scs-main {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .scs-main .section-1 p, .scs-main .section-1 h2 {
    width: 85%;
  }

  .scs-main .section-2 {
    max-width: 45%;
    margin: 0 10px 0 20px;
  }

  .scs-main .section-3 {
    max-width: 35%;
    margin: 0 20px 0 10px;
  }
}

@media (max-width:991px) {
  .scs-main {
  margin-top: 80px;
  }
}

@media (min-width:992px) {
  .scs-main {
    margin-top: 50px;
  }
}
