//--------------------------------------
//  Desktop Header
//--------------------------------------
@use "utilities/variables";

.desktop-header {
  background-color: variables.$primary_colour;
  display: none;
  height: 100%;
  width: 165px;
  position: fixed;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid variables.$dark_gray;
  font-family: 'Cinzel';
  font-weight: 500;
  color: variables.$dark_gray;
}

.desktop-header .logo {
  padding: 55px 0;
  font-size: 50px;
  line-height: 55px;
}

.header-line {
  width: 100%;
  border-bottom: 1px solid variables.$dark_gray;
  margin-bottom: auto;
}

.link-list-desktop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.link-list-desktop a {
  background-color: rgba(255,255,255, 0);
  border: 1px solid variables.$primary_colour;
  border-radius: 0;
  box-shadow: none;
  width: 161px;
  font-size: 15px;
  margin: 10px 0;
  padding: 10px 0;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  color: variables.$dark_gray
}

.link-list-desktop a:hover {
  background-color: variables.$secondary_colour;
  color: variables.$primary_colour;
}

.link-list-desktop a:active {
  border: 1px solid variables.$secondary_colour;
}

.link-list-desktop a:focus {
  text-decoration: underline;
}

.socials {
  margin-top: auto;
  margin-bottom: 25px;
}

.socials i {
  margin: 5px 5px;
  padding: 7px 5px 6px 5px;
  border-radius: 5px;
  color: variables.$dark_gray;
}

.socials i:hover {
  color: variables.$primary_colour;
  background-color: variables.$secondary_colour;
}

.socials .fa-linkedin-in {
  padding-top: 8px;
}


//--------------------------------------
//  Media Queries
//--------------------------------------


@media (min-width:992px) {
  .desktop-header {
    display: flex;
  }

  .page-container {
    margin-left: 165px;
  }
}
