//--------------------------------------
//  Footer
//--------------------------------------
@use "utilities/variables";

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 15vw;
  color: variables.$dark_gray;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  padding: 0 15px;
}

.back-top:hover {
  background-color: variables.$secondary_colour;
}

.back-top p,
.back-top i  {
  margin: none;
  padding: none;
  position: relative;
  top: 4px;
}

.back-top i {
  top: 12px;
}

.back-top:hover p,
.back-top:hover i  {
  color: variables.$primary_colour;
}
