//--------------------------------------
//  Mobile Pop Up Menu
//--------------------------------------

.mobile-pop-up-menu {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 10px;
  top: 80px;
  z-index: 2;
  background-color: $secondary_colour;
  padding: 20px;
  border-radius: 5px;
}

.box-arrow {
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background-color: $secondary_colour;
  position: absolute;
  top: -10px;
  right: 19px;;
  border-radius: 5px 0 0 0;
}

.link-list-mobile {
  display: flex;
  flex-direction: column;
}

.link-list-mobile button {
  width: 180px;
  margin: 10px;
  background-color: $primary_colour;
  color: $dark_gray;
  text-transform: uppercase;
  z-index: 3;
}

.link-list-mobile button:hover {
  background-color: $secondary_colour;
  color: $primary_colour;
  border: 1px solid $primary_colour;
}

.link-list-mobile button:active {
  border: 2px solid $secondary_colour;
}

.mobile-pop-up-menu .socials {
  position: relative;
  top: 15px;
}

.mobile-pop-up-menu i {
  color: white;
}
