//--------------------------------------
//  Mobile Header
//--------------------------------------
@use "utilities/variables";

.mobile-header {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0;
}

.mobile-header .logo {
  margin-left: 22px;
}

.mobile-burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  padding: 5px;
  border-radius: 3px;
  margin-right: 22px;
  cursor: pointer;
  z-index: 2;
}

.mobile-burger:hover {
  background-color: variables.$secondary_colour;
}

.mobile-burger:hover .b-line {
  background-color: variables.$primary_colour;
}

.b-line {
  background-color: variables.$dark_gray;
  width: 24px;
  height: 4px;
  border-radius: 2px;
}



//--------------------------------------
//  Media Queries
//--------------------------------------


@media (min-width:992px) {
  .mobile-header {
    display: none;
  }
}
