//--------------------------------------
//  Variables
//--------------------------------------

$primary_colour: #f1eedb;

$secondary_colour: #264229;
$secondary_colour_trans: rgba(38, 66, 41, 0.9);

$dark_gray: #35382d;
$dark_gray_trans: rgba(53, 56, 45, 0.1);
$darker_gray_trans: rgba(0, 0, 0, 0.7);
$blue-gray: #282C35;
