//--------------------------------------
//  Coding Examples Main File
//--------------------------------------
@use "utilities/variables";

.coding-exampels {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1px;
}

.coding-exampels h1 {
  margin-top: 40vh;
  font-size: 45px;
  color: variables.$dark_gray;
}
