//--------------------------------------
//  Coding Examples Main File
//--------------------------------------
@use "utilities/variables";

.coding-exampels {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 40px 0 20px 0;
}

.coding-exampels .example-container {
  display: flex;
  flex-direction: column;
  margin: 40px 0 0 0;
  width: 100%;
  max-width: 800px;
  background-color: variables.$dark_gray;
  color: variables.$primary_colour;
  border-radius: 10px;
  box-shadow: 0 0 0.4rem 0.1rem rgba(0,0,0,0.2);
}

.example-container h3 {
  margin: 20px 20px 0 20px;
  font-size: 28px;
}

.example-container p {
  margin: 20px;
}

.example-container .main-img {
  width: 100%;
  cursor: pointer;
}

.example-container .overlay {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: variables.$darker_gray_trans;
  height: 100%;
  cursor: pointer;
}

.example-container .overlay img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 5px;
}

// Media Quiries ------------------------------------
@media (min-width:992px) {
  .coding-exampels {
    padding-top: 0;
  }

  .coding-exampels .example-container {
    max-width: 390px;
    margin: 40px 20px 0 20px;
  }
}
