//--------------------------------------
//  Footer
//--------------------------------------

.back-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back-top i {
  position: relative;
  top: 20px;
}
