//--------------------------------------
//  Get in Touch Section
//--------------------------------------

.get-in-touch-section {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  background-color: $dark_gray;
  color: $primary_colour;
  padding: 0 20px 10px 20px;
}

.git-info {
  padding: 10px 0;
}

.git-info h3 {
  font-size: 18px;
  font-weight: 500;
  margin: 20px 0 5px 20px;
}

.phone-num {
  position: relative;
  line-height: 0;
  top: 5px;
}

.git-info p {
  color: white;
  font-size: 13px;
  font-weight: 300;
  padding: 0 30px;
}

.git-form {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.git-form input {
  margin-bottom: 10px;
  padding: 0 0 0 10px;
  flex-grow: 1;
  height: 30px;
  border: none;
  border-radius: 5px;
}

.names {
  display: flex;
  flex-direction: row;
}

.first-name {
  min-width: 50px;
  margin-right: 5px;
}

.last-name {
  min-width: 50px;
  margin-left: 5px;
}

.git-form .message {
  height: 100px;
}

.submit {
  margin: 10px 30px 20px 30px;
  flex-grow: 1;
  background-color: $primary_colour;
  border: 1px solid white;
    box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.submit:hover {
  border: 1px solid $primary_colour;
  color: $primary_colour;
}

.submit:active {
  color: white;
  border: 1px solid white;
  box-shadow: 0 0 0.4rem 0.1rem rgba(255,255,255,0.2);
}
