//--------------------------------------
//  Landing Zone on Home Page
//--------------------------------------

.landing-screen {
  background-image: url(../img/double-exposure.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $dark_gray;
}

.mobile-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.landing-screen .logo {
  margin-left: 20px;
}

.mobile-burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  margin-right: 20px;
}

.b-line {
  background-color: $dark_gray;
  width: 23px;
  height: 4px;
  border-radius: 2px;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255,255,255, 0.7);
  width: 100%;
  position: relative;
  top: 25%;
  padding: 10px 0;
  line-height: 0;
}

.title-container h1 {
  font-size: 40px;
  font-weight: 500;
}

.title-container h4 {
  font-weight: 500;
}

.scroll-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 0 15px 0;
}

.scroll-down h6 {
  position: relative;
  top: 15px;
  font-weight: 800;
}


//--------------------------------------
//  Media Queries
//--------------------------------------


@media (min-width:992px) {

  .landing-screen {
    background-position: 30%;
  }

  .landing-screen .logo,
  .mobile-burger {
    display: none;
  }

  .title-container h1 {
    font-size: 50px;
  }

  .title-container {
    top: 30%;
    background-color: rgba(255,255,255, 0);
  }
}
