//--------------------------------------
//  About-Me Page Main File
//--------------------------------------
@use "utilities/variables";

.about-me-main {
  margin: 50px 20px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me-main .about-me-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
}

.about-me-main .about-me-content p {
  max-width: 100%;
  text-align: center;
  line-height: 20px;
}

.about-me-main h2 {
  margin-bottom: 5px;
}

.about-me-main .top-row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.about-me-main .first-p {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.about-me-main .logo-m-1 {
  display: none;
  margin-bottom: 30px;
  position: relative;
  top: 20px;
  border-radius: 5px;
  min-width: 250px;
  height: 250px;
}

.about-me-main .logo-m-2 {
  width: 100%;
  max-width: 500px;
  min-width: 50px;
  min-height: 50px;
  margin-top: 20px;
  border-radius: 5px;
}



//--------------------------------------
//  Media Queries
//--------------------------------------


@media (min-width:768px) {

  .about-me-main .about-me-content {
    max-width: 900px;
  }

  .about-me-main .first-p p {
    text-align: left;
  }

  .about-me-main .logo-m-1 {
    display: flex;
  }

  .about-me-main .logo-m-2 {
    display: none;
  }

  .about-me-main .first-p {
    margin-right: 40px;
  }

  .about-me-main .about-me-content .last-p {
    max-width: 600px;
  }
}
