//--------------------------------------
//  Past Work Images
//--------------------------------------
@use "utilities/variables";

.past-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
}

.past-images img {
  width: 48%;
  margin-top: 20px;
  box-shadow: 0 0 0.4rem 0.1rem rgba(0,0,0,0.2);
  border-radius: 5px;
}


//--------------------------------------
//  Media Queries
//--------------------------------------


@media (min-width:992px) {

  .past-images {
    max-width: 900px;
  }

  .past-images img {
    width: 32%;
  }
}
